:root {
  --light: white;
  --dark: rgb(0, 26, 128);
}

html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: var(black);
}

header {
  padding: 24px;
  text-align: center;
  background-color: var(--dark);
  color: var(--light)
}

.container {
  display: flex;
  flex-direction: row;
}

#input-group-append {
  display: block;
  flex-wrap: wrap;
}

.card {
  box-shadow: 0 3px 6px 0;
  padding: 2%;
}

/* .btn {
  border: none;
  border-radius: 25px;
  display: inline-block;
  font-size: 22px;
  text-align: center;
  cursor: pointer;
} */

